apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: togglemaster
spec:
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: marcelosilva404/auth-service:1.0
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
          env:
            - name: PORT
              value: "8001"
            - name: MASTER_KEY
              valueFrom:
                secretKeyRef:
                  name: auth-app-secret
                  key: MASTER_KEY
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: auth-app-secret
                  key: DATABASE_URL
          ports:
            - containerPort: 8001
          livenessProbe: 
            httpGet:
              path: /health
              port: 8001
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe: 
            httpGet:
              path: /health
              port: 8001
            initialDelaySeconds: 5
            periodSeconds: 5