services:
  auth-service:
    build: .
    container_name: auth-service
    ports:
      - "8001:8001"
    environment:
      PORT: 8001
      MASTER_KEY: "minha_master_key_super_secreta"
      DATABASE_URL: "postgres://auth_user:auth_pass@auth-db:5432/auth_db?sslmode=disable"
    depends_on:
      - auth-db

  auth-db:
    image: postgres:15
    container_name: auth-db
    environment:
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
      POSTGRES_DB: auth_db
    ports:
      - "5435:5432"
    volumes:
      - authdata:/var/lib/postgresql/data

volumes:
  authdata:
